<% @activities.each do |minifeed_item| %>
  <% unless minifeed_item.item.nil? %>
    <div class="profile-image">
      <% minifeed_item.user %>
    </div>
    <%= minifeed_item.item_id %>
    <span class="meta published">
    <%= time_ago_in_words minifeed_item.created_at %> ago
    </span>
  <% end %>
<% end %>
